@{
    ViewData["Title"] = "Home Page";
}


    <div>


        <br />
        <br />




        Hello There , how are you!!!


        <br />
        <br />

        <b>
           
            My hosting Platform: @ViewData["osver"]
            <br />
            This Page Served from:@ViewData["nodeName"]

            <br />
            Page Refreshed at :@ViewData["timeNow"] UTC

        </b>


    </div>
